@import "tailwindcss";
@plugin "daisyui";

#navUl a.active {
  text-decoration: underline;
  color: #c8833e; 
  font-weight: 600;
}

.my-btn {
  @apply btn w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
  text-white font-semibold border-none hover:scale-105 transition-transform
  duration-200;
}

.common-btn {
  @apply  w-full 
  bg-orange-500 
  hover:bg-orange-600
  text-white 
  font-bold 
  py-3
  px-8
  rounded-xl
  shadow-md
  hover:shadow-xl
  transition-all
  duration-300
  active:scale-95
  cursor-pointer
  text-center
}